$color: rgb(106, 191, 174);

html {
  font-size: 14px;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(400px, auto);
}
.section-title {
  grid-row: 1;
  .container-title {
    height: 800px;
    background: url("/images/1x/Fichier\ 1_1.png") no-repeat center top;
    background-size: contain;
  }
  a {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
  }

  .title {
    text-align: center;
    padding-top: 400px;
    h1 {
      font-family: "Kaushan Script", cursive;
      color: $color;
      font-size: 4rem;
    }
  }
}
.section-texte {
  grid-row: 2;
}
.container-text {
  font-size: 1.6rem;
  color: $color;
  padding-top: 40px;
  text-align: justify;
}
// .container-img {
//   background: url("/images/epicerie.jpg") no-repeat center fixed;
//   background-size: cover;
//   height: 400px;
// }

footer {
  grid-row: 3;
  background: url("/images/1x/Fichier\ 4.png") no-repeat center bottom;
  background-size: contain;
  height: 800px;
  position: relative;
  .container-attribution {
    position: absolute;
    bottom: 0;
  }
}
